* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eae3e3;
    color: #333;
    line-height: 1.6;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
#header {
    background-color: #396799; 
    border: 2px solid #0a3b6f; 
    padding: 20px;
    text-align: center;
    color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
}

h3 {
    color: #121212;
}

#current-weather p {
    color: #121212;
}
#current-weather {
    border: 2px solid black;
    border-radius: 10px; 
    padding: 15px; 
    background-color: white; 
}
#search-container {
    border-bottom: 2px solid #333; 
    padding-bottom: 10px; 
    #search-container {
        border-bottom: 2px solid #333; 
        padding-bottom: 10px; 
    }
}

#search-button {
    height: 40px; 
    margin-top: 10px; 
    width: 100%; 
    background-color: #396799;
}
.forecast-item h5 {
    color: white 
}
.forecast-item {
    width: 18%; 
    padding: 10px; 
    font-size: 0.8em; 
    margin-bottom: 10px;
    text-align: center;
    background-color: #051245;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: inline-block; 
}

.forecast-item p {
    margin: 5px 0; 
    color: #f6f1f1; 
}
.search-label {
    font-size: 1.2em; 
    font-weight: bold; 
}
#history-list {
    list-style-type: none; 
    padding: 0;
}

.list-group-item {
    cursor: pointer;
    margin-bottom: 2px;
    background-color: #c8c8cf;
    border: 1px solid rgb(14, 14, 15);
    margin-bottom: 10px;
    border-radius: 5px;
}
#history-list li, .list-group-item {
    border-radius: 10px; 
    margin-bottom: 10px; 
}

/* Responsive */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }
    .search-box input[type="text"], .search-box button {
        width: 100%;
    }
}

